header{
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.514)),url(img/banner.jpg);
    display: block;
    background-size: cover;
    background-position: top;
    position: relative;
}



.hero-text-box{
    position: absolute;

    /* Make the element in the center, with top just abit higher 40%  */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);  

    text-align: center;
}

.hero-text-box h1{
    margin-bottom: 20px;
}



/* ----------------------------------- */
/* BUTTONS */
/* ----------------------------------- */

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 200px;
    background-color: #d1d1d1;
    font-size: 150%;
    -webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
    color: #3c40c6;
}

.btn:active,
.btn:hover{
    background-color: #3c40c6;
    color: #fff;
}

.mustikat-text {

}
