@media only screen and (max-width:1200px){
    .card{
        min-width: 90%;
    }
    .card-description{
        min-height: 160px;
    }

}

@media only screen and (max-width:1024px){


    .testimonial-box{
        padding-left: 30px;
    }

    input[type=text],
    input[type=email],
    input[type=number],
    textarea{
        width: 100%;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid #ccc;
        font-size: medium;
    }

    textarea{
        height: 70px;
    }
}


@media only screen and (max-width:768px){
    .card-container{
        display: block;
    }
    .card-description{
        min-height: 100px;
    }

    .steps-container{
        display: block;
    }
    .step-pic{
        width: 70%;
    }


    .meals-showcase li{
        width: 50%;
    }

    .testimonial-container{
        display:block;
    }
    .testimonial-box{
        padding-left: 30px;
    }

    .nav-text{
        font-size: 2.7vw;
    }

    .footer-text{
        font-size: 2.7vw;
    }

}


@media only screen and (max-width:480px){
    section{
        padding: 0 10px;
    }
    .question-picture-part {
        padding-bottom: 10px
    }
    .logo{
        padding-left: 0;
    }
    .navbar-brand{
        margin-right: 5px;
    }

    .step-pic{
        width: 70%;
    }

    .card{
        min-width: 90%;
    }



    .question-picture{
        margin-bottom: 20px;
    }

    .question-input-container{
        padding-left: 5px;
    }

    .question-btn{
        text-align: center;
    }
    input[type=text],
    input[type=email],
    input[type=number],
    textarea{
        padding: 5px;
        font-size: large;

    }

    .nav-text{
        font-size: 4vw;
    }

    .footer-text{
        font-size: 4vw;
    }

}