@media only screen and (max-width:480px){
    section{
        padding: 0 10px;
    }
    .question-picture-part {
        padding-bottom: 10px
    }
    .logo{
        padding-left: 5px;
    }
    .navbar-brand{
        margin-right: 5px;
    }

    .step-pic{
        height: 200px;
    }
}