
.section-steps{
    background-color: rgba(255, 255, 255, 0.67);
}

.section-steps .row {
    width: 100%;
}
.step-pic {
    display: block;
    margin: 0 auto;
    width: 80%;
    border-radius: 50%;
}

.step-text{
    padding-top: 20px;
    text-align: center;
}
